<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand" href="./index.html"><img src="./img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="./index.html">Welcome<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./index.html#menu">Today's Menu</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="./login.html">Split Page</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="./article.html">Article</a>
        </li> 
        </ul>
        <a href="https://github.com/wowthemesnet/template-fooddelivery-bootstrap-html/archive/master.zip" class="btn btn-outline-dark">Download Template</a>
    </div>
    </nav>