<div class="block hero2 my-auto" style="background-image:url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);">
    <div class="container-fluid text-center">
        <h1 class="display-2 text-white" 
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-offset="0">Bistrot Français</h1>
        <p class="lead text-white"  
        data-aos="fade-up" 
        data-aos-duration="1000"      
        data-aos-delay="300">
        We are closed for the moment, but we will still deliver food at your place!</p>
    </div>
    <div class="clearfix"></div>
</div>
