<div class="block menu1">

  <div class="buttons-container">
    <a href="#" class="button button--is-active" data-target="coffeeMenu">Bebidas</a>
    <a href="#" class="button" data-target="noodlesMenu">Postres</a>
  </div>


  <!-- Start Coffee Menu -->
  <div class="menu menu--is-visible" id="coffeeMenu" data-aos="fade-up">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Cappuccino</h3>
        <span class="item__dots"></span>
        <span class="item__price">$4</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Iced Coffee</h3>
        <span class="item__dots"></span>
        <span class="item__price">$5</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Café Latte</h3>
        <span class="item__dots"></span>
        <span class="item__price">$3</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Espresso</h3>
        <span class="item__dots"></span>
        <span class="item__price">$4</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>
  </div> <!-- End Coffee Menu -->

  <!-- Start Noodles Menu -->
  <div class="menu" id="noodlesMenu">
    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Chicken Noodles</h3>
        <span class="item__dots"></span>
        <span class="item__price">$16</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Egg Noodles</h3>
        <span class="item__dots"></span>
        <span class="item__price">$12</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Veg Noodles</h3>
        <span class="item__dots"></span>
        <span class="item__price">$10</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>

    <div class="item">
      <div class="item__header">
        <h3 class="item__title">Chuck Norris Noodles</h3>
        <span class="item__dots"></span>
        <span class="item__price">$20</span>
      </div>
      <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos harum officia
        eaque nobis ut.</p>
    </div>
  </div> <!-- End Noodles Menu -->

</div> <!-- End block -->


<!-- <script src="./js/mycart.js"></script> -->
<script src="./js/mycart-custom.js"></script>